/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Universal */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background: rgba(255, 144, 14, 0.10);
}

nav > h3 {
    color: #131313;
}